/**
 *
 * Main styles
 *
 */
.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsl(0, 0%, 80%);
    overflow: hidden;
}

.main-content {
	position: absolute;
	top: 60px;
	right: 5%;
	bottom: 70px;
	left: 5%;
	padding: 20px;
	overflow: hidden;
	font-size: 16px;
	line-height: 32px;
	font-family: 'Times New Roman';
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.main-content p {
	text-indent: 1em;
}

.main-content p:first-child {
	text-indent: 0;
}

/**
 *
 * CUSTOM SCROLLBAR FOR TRAY (webkit only).
 *
 */
.main-content::-webkit-scrollbar {
    width: 4px;
}

.main-content::-webkit-scrollbar-track {
    background: transparent;
}
 
.main-content::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, .3);
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-device-width: 320px) {
    .main-content {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	/*padding: 20px;*/
	overflow: hidden;
	/*line-height: 28px;*/
	font-family: 'Times New Roman';
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
	}
}